<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Emails" colSpan="2"></Label>
        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>
<StackLayout class="page__content">
    <button class="-primary" text="Enviar correo!" (tap)="onTap()"></button>
    <button class="my-1 c-white c-bg-forest" text="Info del dispositivo" (tap)="onDatosPlataforma()"></button>
    <button class="my-1 bg-danger" text="Info de red" (tap)="onMonitoreoDatos()"></button>
</StackLayout>
